/* Default styles for the form container */
.form-container {
  width: 400px;
  margin: 0 auto;
  height: 700px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}


.input{
  width: 160px;
  
}

.margin{
  margin-right: 20px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputaddress {
  width: 380px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.display-inline{
  display: flex;
}

.submit-button {
  width: 100px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.boc-button {
  width: 140px;
  background-color: #ff0000;
  color: white;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
margin-bottom: 20px;
margin-right: 20px;

}
.htm-button {
  width: 160px;
  background-color: #006aac;
  color: white;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
padding-top: 15px;
margin-bottom: 20px;
margin-right: 20px;
}
.imgWidth{
  margin-left: 50px;
  width: 300px;
  margin-bottom: 30px;
}
.form-group select {
  width: 182px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
  
}
.button-container{
  display: flex;
  justify-content: center;
}
/* Style for select when it's focused (optional) */
.form-group select:focus {
  outline: none;
  border-color: #007bff; /* Change to your desired focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
}

/* Media query for smaller screens (adjust breakpoint as needed) */
@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
  }
  
  input {
    width: 90%;
    padding: 6px;
  }

  .input{
    width: 140px;

  }

  .form-group select {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    
  }
  
  .submit-button {
    padding: 8px 16px;
    max-width: 100px;
  }
}
