/* App.css */

.nav-button {
  padding: 15px 5px;
  margin: 5px;
  background-color: #2da800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}



.active {
  background-color: #041800;
  color: #ffffff;
}

.margin-top{
  padding-top: 10px;
}